# DeepEP, vendored for the Blackwell/Hopper training images; it keeps its upstream license (see the
# Acknowledgments section of README.md). Gitlink af9a0403188392824fc3057452822235873e0612 is the commit
# the Dockerfile checks out and builds: a gitlink is traceability only while it matches what the image
# ships, so bump the two together, alongside an image rebuild that revalidates EP end-to-end.

[submodule "DeepEP"]
	path = vendors/DeepEP
	url = https://github.com/deepseek-ai/DeepEP.git
	branch = main

